<body>
<div class="body">
	<div class="container">
		<% if @book.errors.any? %>
		    <div id="error_explanation">
			    <h2><%= @book.errors.count %>件のエラーが発生しました。</h2>
			    <ul>
				    <% @book.errors.full_messages.each do |message| %>
					    <li><%= message %></li>
				    <% end %>
			    </ul>
		    </div>
		<% end %>

		<%= form_for(@book) do |f| %>
		<p id="notice"></p>
		<h2>Editing Book</h2>

  <div class="field">
    <label for="user_name">Name</label>

    <input class="name" type="text" value="booktest" name="user[name]" id="user_name">
  </div>

  <footer>
	<div class="container">
	  	<div class="row">
    		<div class="col-xs-3 col-xs-offset-9">
    			<p>CopyRight Infratop.inc</p>
    		</div>
	    </div>
	</div>
</footer>
</body>